.header {
    text-align:center
}
.header img {
    width: 100%;

}
.header {
    background-image: url('../img/image1.jpg');
    background-size: contain;
    position: relative;
  }
  
  .content h4 {
    font-size: 30px;
    margin: 20px;
    padding: 5px;
  }
  .logo_head img {
    padding-top: 6em;
    padding-bottom: 6em;
    width: 30%;
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
  .border_dotted {
    border-bottom: 2px dotted rgb(0 80 114);
  }
  .content_second h6 {
    margin: 10px;
  }
  .content_second {
    margin-top: 50px;
    padding-bottom: 10em;
  }
  .body {
    background-color: rgb(84, 84, 114);
    display: flex;
    position: relative;
  }
  .note {
    display: flex;
    color: rgb(0 80 114);
    position: absolute;
    left: 15%;
    top: -50px;
  }
  .content_info {
    width: 100%;
    position: relative;
  }
  .note h3 {
    width: 12%;
    height: 300px;
  }
  .note p {
    width: 6%;
    writing-mode: vertical-lr;
    text-align: left;
    height: 150px;
  }
  .content_description {
    margin: 100px 0px 100px;
  }
  .new_product {
    background-color: rgb(0 80 114);
  }

  .new_product .title {
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .product_title_left{
    writing-mode: vertical-lr;
    border-right: 2px solid white;
    height: 70%;
    padding-left: 15%;
    color: white;
  }
  .product_title_left #first {
    padding: 14px 0px 5px 23px;
    margin-right: 0px;
    margin-top: 20px;
  }
  .product_title_left #second {
    margin-left: 0px;

  }
  .product_title_right #first {
    margin-right: 0px;
    margin-top: 20px;

  }
  .product_title_right #second {
    margin-left: 0px;
  padding-top: 15px;
  }
 .img-responsive {
  display: block;
  max-width: 100%;
  max-height: auto;
  object-fit: cover;

 }
 .product_detail  img{
  height: 300px;
  width: 100%;
  border-radius: 40px;
  padding-bottom: 20px;

 }
 .product_title_right {
  writing-mode: vertical-lr;
    border-left: 2px solid white;
    height: 70%;
    color: white;
 }
  .blog {
    background-color: #f2f0ec;
  }
  .read_more {
    text-align: right;
    text-decoration: none;
  }
  .grid-colum {
      display: grid;
      grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
      grid-gap: 2%;
  }

.product_img img{
  height: 130px;
  border-radius: 10px;
  
}
.hot_product {
  background-color: #f2f0ec;
}
.item span {
    font-size: 10px;
}
.product_title {
    width: 95%;
}
.item p {
    font-size: 13px;
    font-weight: bold;
}

.social {
  height: 650px;
}
.both_social {
  height: 600px;
}
.instagram .iframe {
  height: 90%;
}
.infomation {
 background-image:  linear-gradient(to right,rgb(0 80 114), rgb(142 79 145));
 top: 50px;
} 
.indent {
  text-indent: 10px;
}
.button_contact {
  border: 1px solid white;
  border-radius: 46px;
  position: relative;
  

  height: 100%;
}
.half {
  height: 90%;
  margin: 3px;
}
.button_contact p{
  margin: 5px;
  font-size: 15px;
}
.button_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #f2f0ec;
}
.logo-info img {
  width: 200px;
}
.col-8.text-center.py-5.logo-info {
  color:  rgb(0, 84, 114);
}

.menu ul {
  display: block;
}



 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* .content {
        font-size: 35px;
    } */
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* .content {
        font-size: 50px;
    } */
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }